<div class="root">
  <p class="category"><%= link_to "Categories", categories_path %>  <i class="fa fa-angle-right arrow" aria-hidden="true"></i> <%= link_to @book.category.name, category_path(@book.category.slug) %></p>

  <div class="row">
    <div class=".col-sm- book">
      <%= image_tag(@book.image_url, class: "resize") %>
    </div>
    <div class=".col-sm- book">
      <h1 class="book"><%= @book.title  %></h1>
      <% if @book.subtitle.present? %>
        <h2 class="book"><%= @book.subtitle %></h2>
      <% end %>
      <p class="book"><b>By:</b> <%= @book.author %></p>
      <p class="book"><b>ISBN:</b> <%= @book.ISBN %></p>
      <p class="book"><b>Publisher:</b> <%= @book.publisher.name %></p>
      <p class="book"><span class="stars"><%= raw @average_rating %></span></p>
      <p class="book"><small><%= raw @average_rating %> avg. rating</small></p>
    </div>
    <div class="col-4 right">
      <% if current_user.nil? %>
        <a href="/signin"><button type="button" class="btn btn btn-lg btn-block">Free with 30-day trial</button></a>
        <p class="membership">Membership details <i class="fa fa-level-down" aria-hidden="true"></i></p>
        <ul class="membership">
          <li>A 30-day trial of ReBook services.</li>
          <li>Only one book can be checked out at a time. There is no limit to how many books can be checked out.</li>
          <li>Return books to ReBook at no additional cost with our shipping label.</li>
          <li>After your trial, ReBook is just $9.99/month.</li>
        </ul>
      <% else %>
        <a href="/checkout?book=<%= @book.slug %>"><button type="button" class="btn btn btn-lg btn-block">Checkout</button></a>
        <p class="membership">Membership details <i class="fa fa-level-down" aria-hidden="true"></i></p>
        <ul class="membership">
          <li>Members have access to ReBook's large collection of books.</li>
          <li>Only one book can be checked out at a time. There is no limit to how many books can be checked out a month</li>
          <li>There is no "due date". ReBook members can check out a book as long as they want. No late fee applied.</li>
          <li>Return books to ReBook at no additional cost with our shipping label.</li>
        </ul>
      <% end %>
    </div>
    
  <div class="row">
    <div class=".col-sm- book-show">
      <h3 class="description">Book Description:</h3>
      <p class="description"><%= @book.description %></p>
    </div>
  </div>
  <%= raw @review_widget %>
</div>
  <script>
    $(function() {
    $('span.stars').stars();
    });
  </script>
