<!DOCTYPE html>
<html>
  <head>
    <title>Rebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dropdown', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'grid', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'image', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navigation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'root', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'search_bar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'fonts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'stars', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'goodreads', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'buttons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <ul class="top-nav">
      <% if current_user.nil? %>
        <li class="top-nav"><a class="signin" href="/signin">Sign In</a></li>
      <% end %>
      <li class="top-nav"><a class="help" href="/help">Help</a></li>
      <% if current_user.present? %>
        <li class="dropdown top-nav">
          <a href="javascript:void(0)" class="dropbtn">Hi, <%= current_user.name %>!</a>
          <div class="dropdown-content">
            <a href="/myaccount">Account Details</a>
            <a href="/signout" method="delete">Not <%= current_user.name %>? Sign out</a>
          </div>
        </li>
      <% end %>
    </ul>

<% flash.each do |name, msg| %>
  <%= content_tag :div, raw(msg), class: name %>
<% end %>

<div class="root">
  <a href="/"><img border="0" alt="W3Schools" src="https://i.imgur.com/VCpgqpm.png" width="50" height="auto">
</a>
  <p class="logo">ReBook | a <strong>mimizon</strong> company</p>
  <li class="dropdown" style="position:relative;left:195px;bottom:36px;">
    <a href="javascript:void(0)" class="dropbtn">Browse ReBook</a>
    <div class="dropdown-content">
      <% categories.each do |category| %>
        <a href="/<%= category.slug %>"><%= category.name %></a>
      <% end %>
        <a href="/categories">More categories</a>
    </div>
  </li>
  <div class="box" style="position:relative;left:83%;bottom:65px">
    <div class="container-2">
      <form action="/search" method="get">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="text" name="search" id="search" placeholder="Search for a great book" />
      </form>
    </div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
