<!DOCTYPE html>
<html>
  <head>
    <title>Rebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dropdown', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'grid', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'image', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navigation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'root', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <ul class="top-nav">
      <% if current_user.nil? %>
        <li class="top-nav"><a class="signin" href="/signin">Sign In</a></li>
      <% else %>
        <li class="top-nav"><a class="signout" href="/signout" method="delete">Sign Out</a></li>
      <% end %>
      <li class="top-nav"><a class="help" href="/help">Help</a></li>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, raw(msg), class: name %>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
