<!DOCTYPE html>
<html>
  <head>
    <title>Rebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="top-nav">
      <% if current_user.nil? %>
        <li class="top-nav"><a class="signin" href="/signin">Sign In</a></li>
      <% else %>
        <li class="top-nav"><a class="signout" href="/signout" method="delete">Sign Out</a></li>
      <% end %>
      <li class="top-nav"><a class="help" href="/help">Help</a></li>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, raw(msg), class: name %>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
